nav,
.container,
.button-container,
.left-bar,
.right-bar,
footer{
	border: 1px solid black;
}
nav{
	height:60px;
	display:flex;
	justify-content: flex-end;
	align-items: center;
}

nav a, div{
	padding: 10px 15px;
}

section{

}

.container {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.logo-container img{
	display: block;
	width:300px;
	margin-left: auto;
	margin-right: auto;
	height:auto;
}

.logo-container{
	margin-top: 150px;
	display: block;
}

.search-bar input{
	display: block;
	width:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height:30px
}
.button-container{
	display: block;
	width:250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.button-container button:last-child{
	float:right;
}

/*move the second button to the right to cnetralize buttons*/
.button-container button{
	padding: 10px 12px;
	border: none;
	background-color: #eee;
	opacity: 0.7;
	border-radius:3px;
	border: 1px solid #bbb;
}
.button-container button:hover{
	opacity: 1;
	background-color: #ccc;

}
.button-container h5{
	font-style: oblique;
	font-weight: bold;
}

footer{
	height:40px;
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: #eee;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #eee;
	opacity: 0.7;
	border: 1px solid #bbb;
}

.left-bar{
	display: block;
	width:300px;
	position: absolute;
	left:0;
	bottom:1px;
	text-align: center;
}

.right-bar{
	display: block;
	width:300px;
	position: absolute;
	right:0;
	bottom:1px;
	text-align: center;
}

footer a{
	padding:10px 15px;
	font-weight: 300;
	font-style: normal;
}
